*.py[cod]
*.o
*.so
bin/
build/
devel/
install/ 
lib/
lib64/
\#*\#
.\#*
*~
CMakeCache.txt
cmake_install.cmake
CMakeFiles
CTestTestFile.cmake
*.orig
*.log
*.Po
*.Plo
*.po
*.plo
stamp-h1
*.status
Makefile
libtool
include/lwpr_config.h
